.add{
    text-decoration-line: underline;
}

.text-blue{
    color: blueviolet;
}

.border-black{
    border:1px dashed #000000
}

.random{
    text-decoration-color: brown;
}

center{
    text-align: center;
}

.move{
    text-indent: 130px;
}

.font {
    font-style: italic;
}
.header{
    font-style: italic;
    text-align: center;
    color: blueviolet;
    
}
.background{
    background-color: aqua;
}